
.topbar-main {
  width: 100vw;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  align-items: center;
  position: relative;
  
}
.linkedin-logo {
  width: 65px;
margin-left:50px ;
}
.react-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  margin-left: 30px;
}

.react-icon {
  color: #787878;
  cursor: pointer;
  margin-left: 50px;
}

.react-icon:hover {
  color: black;
}

.user-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 50px;
  cursor: pointer;
}

.popup-position {
  position: absolute;
  right: 10px;
  top: 65px;
  z-index: 99;
}

.search-results {
  position: absolute;
  left: 100px;
  top: 70px;
  width: 240px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #bbbbbb;
  z-index: 100;
  .search-inner {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .name {
      font-size: 18px;
    }
  }

  .search-inner:hover {
    background-color: #bbbbbb;
  }
}
